<div class='form-container' *ngIf='!isSubmitted || !isSuccessful'>
  <form [formGroup]='loginForm' (ngSubmit)='login(loginForm.value)'>
    <table>
      <tr>
        <td colspan='2' class='login-title'>Super Secret Squad</td>
      </tr>
      <tr>
        <td>Username:</td>
        <td>
          <input type='text' formControlName='username' id='username' value='admin' />
        </td>
      </tr>
      <tr>
        <td>Password</td>
        <td>
          <input type='password' formControlName='password' id='password' value='1234' />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type='submit'>Login</button>
          <button type='button' (click)='getUsers()'>List Users</button>
        </td>
      </tr>
    </table>
  </form>
</div>

<div class='login-message successed' *ngIf='isSubmitted && isSuccessful'>
  <strong style='color: green;'> Login successfully. </strong><br>
  User {{userInfo.username}} has ID {{userInfo.id}}. <br>
  <button (click)='logout()'>Logout</button>
</div>

<div class='login-message failed' *ngIf='isSubmitted && !isSuccessful'>
  <strong style='color: red;'> Can't login. </strong><br>
  Message: {{loginMessage}} <br>
</div>

<div class='list-users' *ngIf="isListing">
  Listing all users: <br>
  <div *ngFor='let user of data'>
    <span>[{{user.id}}] : {{user.username}}</span>
  </div>

  {{loginMessage}}
</div>